<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Predavanje3/src/hr/fer/zemris/java/tecaj/p3d/Demonstracija.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.java.tecaj.p3d.Demonstracija"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Predavanje3"/>
</launchConfiguration>
