<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/zavrad/src/main/java/hr/fer/zemris/java/mijenjalo/Mijenjalo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.java.mijenjalo.Mijenjalo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="C:\arhiva\primjer1 C:\arhiva\izlaz1 C:\arhiva\kljucevi1.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="zavrad"/>
</launchConfiguration>
