<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Predavanje10/src/hr/fer/zemris/java/tecaj10/udp/UDPKlijentString.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="hr.fer.zemris.java.tecaj10.udp.UDPKlijentString"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="10.129.9.163 8080 marin"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Predavanje10"/>
</launchConfiguration>
